<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" dir="ltr">

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>

    <title>{% block title %}Start{% endblock %} - Joind.in</title>

    <link media="all" rel="stylesheet" type="text/css" href="/inc/css/site.css"/>
    <link media="all" rel="stylesheet" type="text/css" href="/inc/css/jquery-ui/jquery-ui-1.7.3.custom.css"/>
    <link media="all" rel="stylesheet" type="text/css" href="/inc/css/jquery-ui/theme/ui.all.css"/>
    {% block stylesheets %}{% endblock %}

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

    {# if we REALLY need to include something in the head, do it here#}
    {% block head_javascript %}{% endblock %}
    <script type="text/javascript" src="/inc/js/jquery.js"></script>
    <script type="text/javascript" src="/inc/js/jquery.pause.js"></script>
    <script type="text/javascript" src="/inc/js/jquery-ui.js"></script>
    <script type="text/javascript" src="/inc/js/site.js" async></script>
    <script type="text/javascript" src="/inc/js/notifications.js" async></script>

    <script type="text/javascript">var reqk="ed0ca1e7c3746a64bba6d2bf277dda81";</script>
    <script type="text/javascript">var seck="939408069";</script>
</head>

<body id="page-home">

<div id="hd">
    <div class="container_12 top">
        <div class="grid_12">
            <div class="usr">
                <div class="wrapper">
{% if app.user != null %}
                    Logged in as <strong><a href="{{ path("joindinUserBundle_view_details", { id: app.user.id }) }}">{{ app.user.fullname }}</a></strong> |
                    <a href="/user/main">Account</a> |
                    <a href="{{ path("fos_user_security_logout") }}">Logout</a>
{% else %}
                    <a href="{{ path("fos_user_security_login") }}">Login</a> or <a href="{{ path("fos_user_registration_register") }}">Register</a>
{% endif %}
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="clear"></div>
    </div>

    <div class="container_12 nav">
        <div class="grid_3 logo">
            <a href="/"><img src="/inc/img/logo.png" border="0" alt="Joind.in Logo" height="60" width="200" /></a>
        </div>
        <div class="grid_6 menu">
            <ul>
                <li id="menu-event"><a href="{{ path('joindinEventBundle_main') }}">Events</a>
                <li id="menu-talk"><a href="{{ path('joindinTalkBundle_main') }}">Talks</a>
                <li id="menu-about" class="sep"><a href="{{ path('static_about') }}">About</a>
                <li id="menu-help"><a href="{{ path('static_help') }}">Help</a>
                <li id="menu-blog"><a href="{{ path('joindinBlogBundle_main') }}">Blog</a>
            </ul>
            <div class="clear"></div>
        </div>
        <div class="grid_3 search">
            <form id="top-search" method="post" action="/search">
                <label id="top-search-label" accesskey="2" for="top-search-input">Search Joind.in...</label>
                <input type="text" value="" id="top-search-input" name="search_term"/>
                <input type="image" alt="Search" src="/inc/img/top-search-submit.png" id="top-search-submit"/>
            </form>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</div>

<div id="ctn">
    <div class="container_12 container">
        <div class="grid_8">
            <div class="main">

{# Only display the "new to joind.in" when you are not logged in #}
{% if app.user == null %}
            {% include "::new.html.twig" %}
{% endif %}

{% block body %}{% endblock %}

            </div>
        </div>
        <div class="grid_4">

        <div class="sidebar">
{% block sidebar %}
            {% if app.user != null %}
                {% include "::sidebar/user_panel.html.twig" %}
            {% else %}
                {% include "::sidebar/login.html.twig" %}
                {% include "::sidebar/sponsor.html.twig" %}
            {% endif %}
            {% include "::sidebar/submit_event.html.twig" %}

            {% if cfp is defined %}
                {% include "::sidebar/call_for_papers.html.twig" %}
            {% endif %}
{% endblock %}
        </div>

    </div>
</div>
    <div class="clear"></div>
    </div>
</div>

<div id="ftr">
    <div class="container_12">
        <div class="grid_6">
            <a href="{{ path("joindinEventBundle_main") }}">Events</a> |
            <a href="{{ path('joindinTalkBundle_main') }}">Talks</a> |
            <a href="/search">Search</a> |
            <a href="{{ path('static_about') }}">About</a> |
            <a href="{{ path('static_help') }}">Help</a> |
            <a href="{{ path('joindinBlogBundle_main') }}">Blog</a> |
            <a href="/api">API</a> |
            <a href="{{ path('contact') }}">Contact</a>
        </div>

        <div class="grid_6 rgt">
            {% include "::combell.html.twig" %}
            &nbsp;&nbsp;&nbsp;&nbsp;
            &copy; Joind.in {{ "now"|date("Y") }}</div>
            <div class="clear"></div>
        </div>
    </div>

    <div id="jQueryUImessageBox" style="display:none"></div>

    {% include "::analytics.html.twig" %}

    {# Include all javascript #}
    {% block javascript %}{% endblock %}

</body>
</html>