<div class="box">
    <h4>Sign in</h4>
    <div class="ctn">

        <form action="{{ path("fos_user_security_check") }}" method="post">
            <input type="hidden" name="_csrf_token" value="{% render('joindinUserBundle:default:getToken') %}" />

            <div class="row">
                <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
                <input type="text" id="username" name="_username" value="" />
                <div class="clear"></div>
            </div>

            <div class="row">
                <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
                <input type="password" id="password" name="_password" />
                <div class="clear"></div>
            </div>

            <div class="row">
                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                <label style="display:inline !important;" for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
                <div class="clear"></div>
            </div>

            <div class="row row-buttons">
                <input class="btn" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
                <a style="margin-left:10px" href="{{ path("fos_user_resetting_request") }}">Forgot your password?</a>
            </div>
        </form>

        <p>
            Or login via these services:<br/>
            <a href="/twitter/request_token"><img src="/inc/img/signin_twitter.png" alt="Sign in with twitter" title="Sign in with twitter" /></a>
        </p>

        <p>
            <a href="/facebook/request_token"><img src="/inc/img/signin_facebook.png" alt="Sign in with Facebook" title="Sign in with Facebook" /></a>
        </p>

        <p>
            <small>Need an account? <a href="{{ path("fos_user_registration_register") }}">Register now!</a></small><br/>
            <small><a href="{{ path("fos_user_resetting_request") }}">Forgot Password</a></small>
        </p>
    </div>
</div>