{% extends "::base.html.twig" %}

{% block title %}Talk: {{ talk.talkTitle}}{% endblock %}

{% block body %}

<div class="detail">
    <h1>
        {{ talk.talkTitle }}
    </h1>
    <p class="info">
        {% for speaker in talk.speakers %}
        {% if speaker.speakerID != null %}
            <strong><a href="/user/view/{{speaker.user.id}}">{{ speaker.user.fullname }}</a></strong>
        {% else %}
            <strong>{{ speaker.speakerName }}</strong>
        {% endif %}
        {% endfor %}
        ({{ talk.dateGiven | date("d.M.Y") }} at {{ talk.dateGiven | date("h:i") }})<br>
        Talk at <strong><a href="{{ path("joindinEventBundle_view_details", { id: talk.event.id }) }}">{{ talk.event.eventName }}</a></strong>
        ({{ talk.language.langName }})
        <img src="/inc/img/flags/{{ talk.language.langAbbr}}.gif" alt="Flag of {{ talk.language.langAbbr}}">
    </p>
    <p class="rating">
        <img class="rating rating-{{ talk.rating }}" src="/inc/img/rating-{{ talk.rating }}.gif" alt="Rating: {{ talk.rating }} of 5" height="21" width="117">
    </p>
    <div class="desc">
        <span align="left"><a href="/user/view/1678"><img src="https://secure.gravatar.com/avatar/1761ecd7fe763583553dde43e62c47bd?d=mm&amp;s=50" align="left" border="0" style="margin-right:10px;" height="50" width="50"></a></span>
        <p>
            {{ talk.talkDesc }}
        </p>
    </div>
    <p class="quicklink">
        Quicklink: <strong><a href="{{ url("event_quicklink", {id : talk.event.id }) }}">{{ url("event_quicklink", {id : talk.event.id }) }}</a></strong>
    </p>
    <p class="quicklink">
        <b>Track(s):</b>
        {% for track in talk.tracks %}
          {{ track.trackName }}
        {% endfor %}
    </p>
    <div class="clear"></div>
</div>
<div id="claim_select_div" style="text-align:center;">
    Who are you?<br>
    <form action="/talk/claim/{{ talk.id }}" method="post">
        <input type="hidden" name="hash" value="4a502e302245317652b3de2ea58173b1"> <select name="claim_name_select" id="claim_name_select">
            </select> <input type="submit" value="claim" id="claim-btn-submit"> <input type="button" value="cancel" id="claim-cancel-btn">
    </form>
</div>

<p class="admin">
    <a class="btn-small" href="/user/login" id="claim_btn" name="">Claim talk</a>
</p>

<div id="claim-dialog">
    <p>
        By clicking this button you are declaring that you are the speaker responsible for it and a claim request will be sent to the administrator of the event.
    </p>
    <p>
        If the claim is approved you will be able to edit the information for this talk.
    </p>
    <p>
        Are you sure?
    </p>
</div>

{% include "joindinTalkBundle:View:talk_comments.html.twig" %}

{% include "joindinTalkBundle:View:talk_comment_form.html.twig" %}

{% endblock %}

{% block javascript %}
{{ parent() }}
    <script type="text/javascript">
        $(document).ready(function() { talk.init(); })
    </script>
    <script type="text/javascript">
        $(function() {
             $(":radio[name=rating]").rating(
                {required: true}); }
             );
    </script>

    <script type="text/javascript">
        $('#claim_select_div').css('display','none');
        $('#claim-dialog').css('display','none');
        </script>
{% endblock %}
