{% extends "::base.html.twig" %}

{% block title %}Event: {{ event.eventName}}{% endblock %}

{% block body %}


<div class="detail">

    <div class="header">
        <div class="img">
            <div class="frame">
                <img src="/inc/img/event_icons/none.gif" alt="{{ event.eventName }}" height="90" width="90" />
            </div>
        </div>

        <div class="title">
            <div class="head">
                <input type="hidden" name="eid" id="eid" value="{{ event.id }}"/>
                <h1>{{ event.eventName }}</h1>
                <p class="info">
                    <strong>{{ event.eventStart | date("d.M.Y") }}</strong> - <strong>{{ event.eventEnd | date("d.M.Y") }}</strong>
                    <br/>
                    <strong>{{ event.eventLoc}}</strong>
                </p>

                <p class="opts">
                    <a class="btn" id="mark-attending" href="javascript:void(0);" onclick="return markAttending(this,{{event.id}},true);">I attended</a>
                    <span class="attending"><strong><span class="event-attend-count-{{ event.id }}">{{ event.attendees|length}}</span> people</strong>  said they attended. <a href="javascript:void(0);" id="toggle-attendees" class="show">Show &raquo;</a></span>
                </p>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>

    <div class="desc">
        <p>{{ event.eventDesc }}</p>
        <hr/>

        <b>Your host(s):</b><br/>

        <table cellpadding="5" cellspacing="0" border="0">
        <tr>
            {% for admin in event.admins %}
            <td style="padding-right:5px;font-size:11px"><a href="/user/view/{{ admin.user.id }}">{{ admin.user.fullname }}</a></td>
            {% endfor %}
        </tr>
        </table>
    </div>

</div>

<p class="admin"></p>

<div id="event-tabs" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
    <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
        <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active ui-state-focus"><a href="/event/view/{{event.id}}/talks#event-tabs" rel="talks">Talks ({{ event.talks | length }})</a></li>
        <li class="ui-state-default ui-corner-top"><a href="/event/view/{{event.id}}/comments#event-tabs" rel="comments">Comments ( {{ event.comments|length }})</a></li>
{% if event.talkswithslides|length > 0 %}
        <li class="ui-state-default ui-corner-top"><a href="/event/view/{{event.id}}/slides#event-tabs" rel="slides">Slides ({{ event.talkswithslides|length }})</a></li>
{% endif %}
{% if event.tracks|length > 0 %}
        <li class="ui-state-default ui-corner-top"><a href="/event/view/{{event.id}}/tracks#event-tabs" rel="tracks">Tracks ({{ event.tracks|length }})</a></li>
{% endif %}
    </ul>

    <div class="ui-tabs-panel ui-widget-content ui-corner-bottom" id="talks">
        <div class="ui-widget">
            <div id="talks">
                <table summary="" cellpadding="0" cellspacing="0" border="0" width="100%" class="list">
                <tr>
{# @TODO: Make sure that we get the talks PER DAY so we can do this... #}
                    <th colspan="5">
                        <h4 id="talks">15.Jun.2012</h4>
                    </th>
                </tr>
{% for talk in event.talks %}
                <tr class="row1">
                    <td>
                        <span class="talk-type talk-type-{{talk.categories[0].catTitle | lower}} title="{{talk.categories[0].catTitle}}">{{ talk.categories[0].catTitle }}</span>
                    </td>
                    <td>
                        <a href="/talk/view/{{talk.id}}">{{ talk.talkTitle }} </a>({{ talk.dateGiven|date("H:i:s")}})
                    </td>
                    <td>
{% for speaker in talk.speakers %}
                        {% if speaker.user %}
                        <a href="/user/view/{{ speaker.user.id }}">{{speaker.user.fullname is empty ? speaker.user.username : speaker.user.fullname}}</a>
                        {% else %}
                        {{ speaker.speakername }}
                        {% endif %}
{% endfor %}
                    </td>
                    <td>
                        {% if talk.slidesLink %}
                        <a class="slides" target="new" href="{{ talk.slidesLink }}">
                            <img style='vertical-align:text-top;' alt="Slides available" src="/inc/img/icon-slides.gif">
                        </a>
                        {% else %}
                        &nbsp;
                        {% endif %}
                    </td>
                    <td>
                        <a class="comment-count" href="/talk/view/{{talk.id}}/#comments">{{ talk.comments|length }}</a>
                    </td>
                </tr>
{% endfor %}
                </table>
            </div>
        </div>
    </div>

    <div class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide" id="comments">
        <div class="ui-widget">
            <div id="comments">

{% if event.comments|length == 0 %}
                <div class="ui-widget">
                    <div class="ui-state-highlight ui-corner-all">
                        <span class="ui-icon ui-icon-info">&nbsp;</span>
                        <div class="msg">
                            No comments yet.
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
{% else %}
                {% for comment in event.comments %}
                    <div id="comment-{{ comment.id }}" class="row row-event-comment">
                        <div class="text">
                            <p class="info">
                                <strong>{{ comment.dateMade | date("d-M-Y") }} at {{ comment.dateMade | date("H:i") }}</strong> by
{% if comment.user == null %}
                                <strong><span class="anonymous">Anonymous</span></strong>
{% else %}
                                <strong><a href="/user/view/18840">{{ comment.user.username }}</a></strong>
{% endif %}
                                (Feedback)
                            </p>
                            <div class="desc">
                                <p>{{ comment.comment }}</p>
                            </div>
                                    </div>
                        <div class="clear"></div>
                    </div>
                {% endfor %}
{% endif %}

                <h3 id="comment-form">Write a comment</h3>
                <form action="https://joind.in/event/view/994#comment-form" method="post" class="form-event">
                    <input type="hidden" name="hash" value="2994c74349d8f2fe989e29fb5ae024da">

                    <div class="row">
                        <label for="type">Type</label>
                        <div class="input">Feedback</div>
                        <div class="clear"></div>
                    </div>

                    <div class="row">
                        <label for="event_comment">Comment</label>
                        <textarea name="event_comment" cols="40" rows="10" id="event_comment" ></textarea>
                        <div class="clear"></div>
                    </div>

                    <div class="row">
                        <label for="cinput">Spambot check</label>
                        <span>
                            <input type="text" name="cinput" value="" id="cinput"  /> = <b>eight minus one</b>
                        </span>
                        <div class="clear"></div>
                    </div>

                    <div class="row row-buttons">
                        <input type="submit" name="sub" value="Submit Comment" class="btn"  />
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide" id="slides">
            <div class="ui-widget">
                <div id="slides">

{% if event.talkswithslides|length == 0 %}
                    <div class="ui-widget">
                        <div class="ui-state-highlight ui-corner-all">
                            <span class="ui-icon ui-icon-info">&nbsp;</span>
                            <div class="msg">
                                No comments yet.
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
{% else %}

                    <table summary="" cellpadding="0" cellspacing="0" border="0" width="100%" class="list">
        {% for talk in event.talkswithslides %}
                    <tr class="row{{ loop.index }}">
                        <td>
                            <a href="/talk/view/{{talk.id}}">{{ talk.talkTitle }}</a>
                        </td>
                        <td>
                            {{ talk.speaker }}
                        </td>
                        <td>
                            <a href="{{ talk.slidesLink }}">Slides</a>
                        </td>
                    </tr>
        {% endfor %}
                    </table>
{% endif %}
                </div>
            </div>
        </div>

    <div class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide" id="tracks">
        <div class="ui-widget">
            <div id="tracks">

{% if event.tracks|length == 0 %}
                <div class="ui-widget">
                    <div class="ui-state-highlight ui-corner-all">
                        <span class="ui-icon ui-icon-info">&nbsp;</span>
                        <div class="msg">
                            No tracks.
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
{% else %}


                <table summary="" cellpadding="0" cellspacing="0" border="0" width="100%" class="list">
    {% for track in event.tracks %}
                <tr class="row{{ loop.index }}">
                    <td>
                        {% if (track.talks|length > 0) %}
                        <a href="/event/view/{{event.id}}/track/{{ track.id }}">{{ track.trackName }}</a>
                        {% else %}
                        {{ track.trackName }}
                        {% endif %}
                    </td>
                    <td>
                        {{ track.trackDesc | slice(0, 75) }}
                    </td>
                    <td>
                        {{ track.talks|length }} sessions
                    </td>
                </tr>
    {% endfor %}
                </table>
{% endif %}
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
<script type="text/javascript" src="/inc/js/jq.joindIn.js"></script>
<script type="text/javascript" src="/inc/js/event.js"></script>

<script type="text/javascript">//<![CDATA[
    (function($) {
        $(document).ready(function() {
            $('#event-tabs').joindIn_tabs();
            if (window.location.hash == '#comment-form' || window.location.hash == '#comments') {
                window.location.hash = '#';
                $('a[rel=comments]').click();
            }
        });
    })(jQuery);

    function eventOpenTab(_rel) {
        $('#event-tabs a[rel=' + _rel + ']').click();
    }

    JI_event.init();
//]]></script>
{% endblock %}