<!-- Event row start -->
<div class="row row-event">
    <div class="img">
        <div class="frame">
            <a href="{{ path('joindinEventBundle_view_details', { id: event.id } )}}"><img src="/inc/img/event_icons/none.gif" alt="{{ event.eventName }}" height="90" width="90" /></a>
        </div>
    </div>
    <div class="text">
        <h3><a href="{{ path('joindinEventBundle_view_details', { id: event.id } )}}">{{ event.eventName }}</a></h3>
        <p class="info">
            <strong>{{ event.eventStart | date("d.M.Y") }}</strong>
            - <strong>{{ event.eventEnd | date("d.M.Y") }}</strong> at <strong>{{ event.eventLoc}}</strong>
        </p>
        <div class="desc">
            <p>{{ event.eventDesc }}</p>
        </div>
        <p class="opts">
            <a href="{{ path('joindinEventBundle_view_details', { id: event.id } )}}#comments">{{ event.comments|length }} comments</a> |
            <strong><span class="event-attend-count-{{ event.id }}">{{ event.attendees|length }}</span> attending</strong> |
            <!--<input type="checkbox" name="attend" value="1"/> Attending?-->
            <a class="btn-small" href="#" onclick="markAttending(this,{{ event.id }},false);return false;">I'm attending</a>
        </p>
        <div class="desc" style="padding-top:6px"></div>
    </div>
    <div class="clear"></div>
</div>
<!-- Event row end -->
